<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>View1</title>
		<link rel="icon" type="image/x-icon" href="../favicon.ico" />
		<link rel="stylesheet" href="../common/style/app.css" />
		<script defer="defer" src="../js/view1.bundle.js"></script>
		<link rel="manifest" href="../manifest.json" />
	</head>

	<body class="col fill gap20">
		<header class="row spread middle">
			<div class="col">
				<h1>View1</h1>
				<h1 class="tag">An example of a connecting a frame outside of the layout</h1>
			</div>
			<div class="row middle gap10">
				<image src="../common/images/icon-blue.png" alt="OpenFin" height="40px"></image>
			</div>
		</header>
		<main class="fill col scroll-vertical gap10">
			Hello World
		</main>
	</body>
</html>
