<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>View Quote</title>
		<link rel="icon" type="image/x-icon" href="../favicon.ico" />
		<link rel="stylesheet" href="../common/style/app.css" />
		<script defer="defer" src="../js/view-quote.bundle.js"></script>
	</head>

	<body class="col fill gap20">
		<header class="col gap10">
			<h1>View Quote</h1>
			<h1 class="tag">Received context for the latest `ViewQuote` intent.</h1>
		</header>

		<div class="col gap10">
			<label class="col gap10">
				<span>Received Context</span>
				<textarea id="receivedContext" readonly rows="12" class="field field-textarea"></textarea>
			</label>
		</div>
	</body>
</html>
