<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Sample View</title>
		<link rel="icon" href="../images/page-tab.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../common/style/app.css" />
		<script defer="defer" src="../js/sample-view.bundle.js"></script>
	</head>
	<body class="col gap10 pad20">
		<h1 id="view-name">Sample view</h1>
		<p>
			The tab icon for this view is controlled by the
			<code>icon</code>
			entry in its component state. The green icon in this page's head is only used when that entry is
			<code>unset</code>
			.
		</p>
	</body>
</html>
